<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion position-relative" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/users">

    <div  class="sidebar-brand-text mx-3 " style="font-weight: bold;"><img src="assets/img/shop.png"/> &nbsp;<sup></sup>&nbsp;<sub style="font-weight: lighter;" >Jardin d'enfant</sub></div>

  </a>

  <!-- Divider -->




  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/users">
      <i class="fas fa-users"></i>
      <span>Utilisateurs</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/consultations">
      <i class="fas fa-sticky-note"></i>
      <span>Consultation</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/enfants">
      <i class="fas fa-sticky-note"></i>
      <span>Enfants</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/jardin">
      <i class="fas fa-sticky-note"></i>
      <span>Jardins</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rendez-vous">
      <i class="fas fa-sticky-note"></i>
      <span>Meeting</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/evenements">
      <i class="fas fa-barcode"></i>
      <span>Evénement</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/forums">
      <i class="fab fa-product-hunt"></i>
      <span>Forum</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pubs">
      <i class="fab fa-product-hunt"></i>
      <span>Publication</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reclamation">
      <i class="far fa-envelope"></i>
      <span>Reclamations</span></a>
  </li>


</ul>
