<h3>View Jardin Details</h3>
<div class="container">
  <div class="row list-project">
      <div class="col-md-7">
          <img src="https://via.placeholder.com/400x300/FFB6C1/000000" alt="project-image" class="rounded tablet-top">
      </div>
      <!-- / column -->
      <div class="col-md-5">
          <div class="project-info-box mt-0">
              <h5>Description KIDZONE EVENT</h5>
              <p>Voici tous les informations relatives à l'événement <br> Veuillez trouvez ci-joint la description detaillée des événements </p>

          </div>
          <!-- / project-info-box -->

          <div class="project-info-box mb-10">
              <p><b>Nom Jardin:</b> {{jardin.name}}</p>
              <p><b>Capacite:</b> {{jardin.capacite}}</p>
              <p><b>Adresse Jardin:</b> {{jardin.adresse}}</p>
              <p><b>Email Jardin:</b> {{jardin.email}}</p>
              <p><b>responsable_garderie:</b> {{jardin.responsable_garderie}}</p>

          </div>
          <!-- / project-info-box -->

          <a href="#" class="btn btn-primary d-block">Retour liste Jardins</a>
      </div>
      <!-- / column -->
  </div>
  <!-- / row list-project -->
  <!-- / row list-project -->
</div>
